<div class="main-content-wrapper">
  <div class="sidebar">
    <ul>
      <li><a href="/resumen">Resumen</a></li>
      <li><a href="/serviciosAdmin">Servicios</a></li>
      <li><a href="/clientes">Clientes</a></li>
      <li><a href="/equipos">Equipos</a></li>
      <li><a routerLink="/registrarusuario">Agregar usuario</a></li>
      <li><a (click)="logout()">Cerrar sesión</a></li>
   </ul>
  </div>
  <div class="main-content">
      <!-- Contenido principal -->
      <h1>LISTA DE EQUIPOS</h1>
      <div class="breadcrumb-container">
          <div class="breadcrumb">
              <a href="#" class="breadcrumb-item dashboard">
                  <i class="icon-dashboard"></i>
                  Dashboard
              </a>
              <span class="separator"> / </span>
              <span class="breadcrumb-item services">
                  <i class="icon-services"></i>
                  Servicios
              </span>
          </div>
      </div>
      <button class="btn-entregado">Terminados y Entregados</button>
      <table class="servicios-tabla">
     
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Dispositivo</th>
            <th scope="col">Numero de serie</th>
            <th scope="col">Modelo</th>
            <th scope="col">Descripción</th>
            <th scope="col">Tipo de mantenimiento</th>
            <th scope="col">Notificar</th>
          <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
            @for (item of equipos; track item.id) {
                <tr>
                    <th scope="row">{{item.id}}</th>                    
                    <td>{{item.dispositivo}}</td>
                    <td>{{item.numserie}}</td>
                    <td>{{item.modelo}}</td>
                    <td>{{item.descripcion}}</td>
                    <td>{{item.tipomto}}</td>            
                    <td><button type="button" class="btn btn-primary" (click)="editar(item)">E</button></td>
                    <td><button type="button" class="btn btn-danger" (click)="eliminar(item.id)">B</button></td> 
                  </tr>           
            }          
        </tbody>
      </table>
  </div>
</div>
