header{
    background-color: #430159;
}
/*BARRA DE NAVEGACIÓN */
.navbar{
    background-color: #240159 !important;
}

.navbar-nav {
    padding: 1.5%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

/*IMÁGENES */
.img-1{
    width: 5%;
    height: auto;
    display: flex;
}