header{
    background-color: #240159;
    position: fixed;
    top: 0;
  width: 100%;
  z-index: 1000;
}
/*BARRA DE NAVEGACIÓN */
.navbar{
    background-color: #240159 !important;
}

.navbar-nav {
    padding: 1.5%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

/*IMÁGENES */
.img-1{
    width: 5%;
    height: auto;
    display: flex;
}

body {
  margin-top: 80px; /* Ajusta este valor según la altura de tu navbar */
}
