<section id="servicios" class="servicios">
    <h2 class="text-center my-5 mt-7">Nuestros Servicios</h2>
    <div class="container">
      <div class="row">
        <div class="col-4" >
          <div class="card">
            <img src="lab4.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Reparación y mantenimiento de equipos de cómputo</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <img src="lab4.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Reparación de impresoras</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <img src="lab4.png" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Reparación de routers o equipos de red</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
  
      </div>
    </div>
</section>
