<div class="container">
    <div class="header">
        <h1>Registrate</h1>
    </div>
    <div class="form-container">
        <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" formControlName="nombre" />
                <div *ngIf="registroForm.controls['nombre'].invalid && registroForm.controls['nombre'].touched">
                    Campo obligatorio.
                </div>
            </div>
            <div class="form-group">
                <label for="departamento">Departamento o área</label>
                <input type="text" id="departamento" formControlName="departamento" />
            </div>
            <div class="form-group">
                <div class="half-width">
                    <label for="email">Email</label>
                    <input type="email" id="email" formControlName="email" />
                    <div *ngIf="registroForm.controls['email'].invalid && registroForm.controls['email'].touched">
                        Campo obligatorio y debe ser válido.
                    </div>
                </div>
                <div class="half-width">
                    <label for="telefono">Teléfono</label>
                    <input type="tel" id="telefono" formControlName="telefono" />
                    <div *ngIf="registroForm.controls['telefono'].invalid && registroForm.controls['telefono'].touched">
                        Teléfono es obligatorio.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="contrasena">Contraseña</label>
                <input type="password" id="contrasena" formControlName="contrasena" />
                <div *ngIf="registroForm.controls['contrasena'].invalid && registroForm.controls['contrasena'].touched">
                    Campo obligatoria.
                </div>
            </div>
            <button type="submit" [disabled]="registroForm.invalid">Registrarse</button>
        </form>
    </div>
</div>