.container {
  max-width: 500px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
  background: linear-gradient(to right, #00416a, #e4e5e6);
  padding: 10px 0;
  text-align: center;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

h1,
h2 {
  margin: 0;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input.ng-invalid.ng-touched {
  border-color: red;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


.half-width {
  display: inline-block;
  width: 48%;
}

.half-width:first-child {
  margin-right: 4%;
}

div {
  color: rgb(0, 0, 0);
  font-size: 12px;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
  background: linear-gradient(to right, #00416a, #e4e5e6);
  padding: 10px 0;
  text-align: center;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

h1,
h2 {
  margin: 0;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input.ng-invalid.ng-touched {
  border-color: red;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


.half-width {
  display: inline-block;
  width: 48%;
}

.half-width:first-child {
  margin-right: 4%;
}

div {
  color: rgb(0, 0, 0);
  font-size: 12px;
}

.mensaje-exito {
  text-align: center;
  padding: 20px;
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  margin-top: 20px;
}
