<section id="nosotros" class="nosotros">
    <h2 class="text-center my-5">Quiénes somos</h2>
    <div class="container">
      <div class="row">
        <div class="text">
          Buscamos brindarte una mejor manera de llevar a cabo la gestión de mantenimiento y Reparación
          de equipos de cómputo y electrónicos, mejorando la eficiencia y la rapidez de solicitudes. En TechnoCare, 
          nos apasiona la tecnología y nos dedicamos a brindar soluciones de mantenimiento y soporte 
          para tus dispositivos electrónicos. Con un sistema perfecto para llevar a cabo la gestión de equipos
          de cómputo y electrónicos de una manera eficiente.
        </div>
        <div class="col-6">
          <img src="lab3.jpg" class="img-nosotros">
        </div>
      </div>
    </div>
  </section>
