header {
  background-color: #240159;
}

/* BARRA DE NAVEGACIÓN */
.navbar {
  background-color: #240159 !important;
  display: flex;
  align-items: flex-start; /* Coloca la barra de navegación en la parte superior */
}

.navbar-nav {
  padding: 1.5%;
  margin: 0;
  display: flex;
  flex-direction: column; /* Cambia la orientación a vertical */
  align-items: flex-start; /* Alinea los elementos hacia la izquierda */
}

/* IMÁGENES */
.img-1 {
  width: 5%;
  height: auto;
  display: block; /* Ajusta la imagen */
}
