<div class="container">
    <div class="header">
        <h1>Iniciar Sesión</h1>
    </div>
    <div class="form-container">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="form-group">
                <label for="email">Correo electrónico</label>
                <input type="email" id="email" formControlName="email" />
                <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
                    Campo obligatorio.
                </div>
            </div>

            <div class="form-group">
                <label for="contrasena">Contraseña</label>
                <input type="password" id="contrasena" formControlName="contrasena" />
                <div *ngIf="loginForm.controls['contrasena'].invalid && loginForm.controls['contrasena'].touched">
                    Campo obligatorio.
                </div>
            </div>

            <button type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</button>
        </form>
        <div class="register-link">
            <p>¿No tienes cuenta? <a routerLink="/registrarse">Crea una</a></p>
        </div>
    </div>
</div>


