<div class="main-content-wrapper">
  <div class="sidebar">
    <ul>
      <li><a href="/resumen">Resumen</a></li>
      <li><a href="/serviciosAdmin">Servicios</a></li>
      <li><a href="/clientes">Clientes</a></li>
      <li><a href="/equipos">Equipos</a></li>
   </ul>
  </div>
  <div class="main-content">
      <!-- Contenido principal -->
      <div class="breadcrumb-container">
        <h1>LISTA DE SERVICIOS</h1>
          <div class="breadcrumb">
              <a href="#" class="breadcrumb-item dashboard">
                  <i class="icon-dashboard"></i>
                  Dashboard
              </a>
              <span class="separator"> / </span>
              <span class="breadcrumb-item services">
                  <i class="icon-services"></i>
                  Servicios
              </span>
          </div>
      </div>
      <button class="btn-entregado">Terminados y Entregados</button>
      <table class="servicios-tabla">
        <thead>
          <tr>
            <th>Columna 1</th>
            <th>Columna 2</th>
            <th>Columna 3</th>
            <th>Columna 4</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <button class="btn-editar">Editar</button>
              <button class="btn-eliminar">Eliminar</button>
            </td>
          </tr>
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <button class="btn-editar">Editar</button>
                <button class="btn-eliminar">Eliminar</button>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <button class="btn-editar">Editar</button>
                <button class="btn-eliminar">Eliminar</button>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <button class="btn-editar">Editar</button>
                <button class="btn-eliminar">Eliminar</button>
              </td>
            </tr>


            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <button class="btn-editar">Editar</button>
                <button class="btn-eliminar">Eliminar</button>
              </td>



            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <button class="btn-editar">Editar</button>
                <button class="btn-eliminar">Eliminar</button>
              </td>
            </tr>
        </tbody>
      </table>
  </div>
</div>